mw-footer {
  background-image: linear-gradient(0.2turn, $mw-color-bg-header-footer-2 0%, $mw-color-bg-header-footer-1 100%);
  border-top: 1px solid $mw-color-bg-main;
  outline: 2px solid darken($mw-color-bg-main, 20%);
  color: $mw-color-text-white-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $mw-component-spacing;
  padding: $mw-component-spacing;
  white-space: nowrap;

  small {
    font-size: $h4;
    font-weight: 100;

    :not(.name) {
      /**
       * As white as possible to compensate for the
       * thin text (hard to see on a grey background)
       */
      color: white;
    }
  
    .name {
      font-weight: bolder;
      padding: 0 0.5em;
    }
  }

  li {
    display: inline;
    padding: 8px;

    fa-icon {
      color: darken($mw-color-text-white-primary, 15%);
    
      &:hover {
        color: lighten($mw-color-text-white-primary, 20%);
      }
    }
  }
}
