$image-width: 500px;
$screen-edge-padding: 20px;

mw-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 30%, 80%);
  animation: dim 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-content-container {
    padding: $screen-edge-padding;
    min-width: 300px;
    min-height: 320px;
    max-height: 100%;
    max-width: 100%;
    animation: appear 0.3s ease-out;

    header {
      background-color: $mw-color-overlay-header;
      border-top-left-radius: $mw-border-radius;
      border-top-right-radius: $mw-border-radius;
      border-bottom: 1px solid lighten($mw-color-overlay-header, 20%);
      height: 20px;
      display: flex;
  
      button {
        margin: 0 4px 0 auto;
        border: none;
        background-color: inherit;
  
        fa-icon {
          color: darken($mw-color-text-white-primary, 15%);
        }
  
        &:hover fa-icon {
          color: lighten($mw-color-text-white-primary, 15%);
        }
      }
    }
  
    img {
      z-index: 101;
      opacity: 100%;
      width: 100%;
      max-width: calc($image-width);
      max-height: calc($image-width);
      border-bottom-left-radius: $mw-border-radius;
      border-bottom-right-radius: $mw-border-radius;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 20%;
    transform: translateY(-20px);
  }
  100% {
    opacity: 100%;
    transform: 'none';
  }
}

@keyframes dim {
  0% { background: hsla(0, 0%, 30%, 0%); }
  100% { background: hsla(0, 0%, 30%, 80%); }
}
