mw-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: hsla(0, 0%, 30%, 80%);

  .overlay-content-container {
    position: absolute;
    z-index: 101;
    opacity: 100%;

    @include respond-to('lt-sm') {
      /** Centre vertically:
        * Half-way mark vertically (50vh)
        * minus half of the current width
        * minus half of the fixed 20px-high header
        */
      top: calc(50vh - (100vw - 20px)/2 - 10px);
      left: 10px;
      width: calc(100vw - 20px);
      animation: appear-lt-sm 0.4s ease-out;
    }
  
    @include respond-to('gt-sm') {
      top: calc(50vh - 260px);
      left: calc(50vw - 250px);
      width: 500px;
      animation: appear-gt-sm 0.6s ease-out;
    }
  
    header {
      background-color: $mw-color-overlay-header;
      border-top-left-radius: $mw-border-radius;
      border-top-right-radius: $mw-border-radius;
      border-bottom: 1px solid lighten($mw-color-overlay-header, 20%);
      height: 20px;
      display: flex;
  
      button {
        margin: 0 4px 0 auto;
        border: none;
        background-color: inherit;
  
        fa-icon {
          color: darken($mw-color-text-white-primary, 15%);
        }
  
        &:hover fa-icon {
          color: lighten($mw-color-text-white-primary, 15%);
        }
      }
    }
  
    img {
      width: 100%;
      border-bottom-left-radius: $mw-border-radius;
      border-bottom-right-radius: $mw-border-radius;
    }
  }
}

@keyframes appear-lt-sm {
  from {
    opacity: 20%;
    top: calc(50vh - (100vw - 20px)/2 + 10px);
  }
  to {
    opacity: 100%;
    top: calc(50vh - (100vw - 20px)/2 - 10px);
  }
}

@keyframes appear-gt-sm {
  from {
    opacity: 20%;
    top: calc(50vh - 240px);
  }
  to {
    opacity: 100%;
    top: calc(50vh - 260px);
  }
}
