<small>
	Copyright &copy; {{ currentYear }}
	<span class="name">Michal Wiraszka</span>
</small>

<ul class="icons">
	<li>
		<a href="https://www.linkedin.com/in/wiraszka"
			 title="LinkedIn"
			 alt="LinkedIn"
			 target="_blank">
			<fa-icon [icon]="faLinkedin"
							 size="2x"></fa-icon>
		</a>
	</li>
	<li>
		<a href="https://github.com/mwiraszka"
			 title="GitHub"
			 alt="GitHub"
			 target="_blank">
			<fa-icon [icon]="faGithub"
							 size="2x"></fa-icon>
		</a>
	</li>
	<li>
		<a href="mailto:michal@wiraszka.com"
			 title="Email"
			 alt="Email"
			 target="_blank">
			<fa-icon [icon]="faEnvelope"
							 size="2x"></fa-icon>
		</a>
	</li>
</ul>
