<mw-card class="chordbomb"
				 [title]="'chordbomb'"
				 [appUrl]="'https://www.chordbomb.com'"
				 [githubUrl]="'https://github.com/mwiraszka/Chordbomb'"
				 [screenshots]="['cb-1', 'cb-2', 'cb-3', 'cb-4']"
				 [description]="'Chordbomb queries a small database of songs, allowing the user
                        to pull up a song and customize how the lyrics and chords are
                        displayed.'">
</mw-card>

<mw-card class="london-chess-club"
				 [title]="'london-chess-club'"
				 [appUrl]="'http://london-chess-club.s3-website.us-east-2.amazonaws.com'"
				 [githubUrl]="'https://github.com/mwiraszka/LondonChessClub'"
				 [screenshots]="['lcc-1', 'lcc-2']"
				 [description]="'The London Chess Club (est. 1965) hosts a variety of blitz and
                        rapid chess tournaments, lectures and simuls for players of all
                        ages and skill levels.'"
				 [isUnderConstruction]="true">
</mw-card>
